<html>
    <head>
    </head>
    <body>
        <%- include('_header'); -%>
        <%- body %> <!--here th e body part of home and userhome is going to run-->
        <%- include('_footer'); -%>
        <%- script %>
    </body>
</html>