<form action="/auth/reset?accessToken=<%=accessToken%>" method="POST">
    <span>Change Password</span>
    <%if(false){%>

        <div>Error</div>
        <%}%>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm password" required>
        <button type="submit">Reset</button>
</form>