
<form action="/auth/verify-email" method="POST">
    <span>Verify Account</span>
    <input type="email" name="email" placeholder="Your Email" required>
   <button type="submit"> Send mail</button>
</form>